.introBox{
    height: 121px;
    width: 435px;
    display: flex;
    justify-content: space-between;
    padding: 9px 11px;
    margin: auto;
    margin-bottom: 5px;
}
.introLeftBox{
    width: 326px;
}
.introTitle{
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 7px;

}
// .introDes{

// }
.introPicCon{
    height: 103px;
    width: 76px;
    border: 1px solid white;
}
.picsCon{
    display: flex;
    justify-content: space-between;
    width: 435px;
    flex-wrap: wrap;
    margin: auto;
}
.picBox{
    height: 143px;
    width: 143px;
    margin-top: 3px;
    overflow: hidden;
}
.imgWrap{
    position: relative;
    height: 143px;
    width: 143px;
}
.imgWrapClicked{
    position: relative;
    height: 125px;
    width: 125px;
}
.picTitle{
    position: relative;
    bottom: 21px;
    padding-left: 8px;
    color: white;
    overflow: hidden;
}
.picCheck{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    bottom: 38.5px; 
    right: -10px;
    text-align: end;
    color: white;
}
.arrowSVG{
    height: 34px;
    width: 34px;

}

@media only screen and (max-width: 485px) {
    .introBox{
        width: 345px;
        height: 117px;
        padding: 7px 8px;
        margin-bottom: 4px;
    }
    .introLeftBox{ width: 249px; }
    .introPicCon{ width: 76px; height: 103px;}
    .picsCon{ width: 345px; }
    .picBox{
        height: 113px;
        width: 113px;
    }
    .imgWrap{
        height: 113px;
        width: 113px;
    }
    .imgWrapClicked{
        height: 97px; //98
        width: 97px;
    }
    .titleCheckWrap{
        width: 100%;
        // height: 39px;
    }
    .picTitle{ 
        // width: 72px; 
        font-size: 11px; 
        padding-left: 4px; 
        bottom: 17px;
        height: 12px;
    }
    .picCheck{
        bottom: 40px; right: -12px;
    }
    .arrowSVG{
        height: 39px;
        width: 39px;

    }
}