.introBox{
    height: 121px;
    width: 435px;
    display: flex;
    justify-content: space-between;
    padding: 9px 11px;
    margin: auto;
    margin-bottom: 5px;
}
.introLeftBox{
    width: 326px;
}
.introTitle{
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 7px;

}
.introPicCon{
    height: 103px;
    width: 76px;
    border: 1px solid white;
}
.picsCon{
    display: flex;
    justify-content: space-between;
    width: 435px;
    flex-wrap: wrap;
    margin: auto;
}
.picBox{
    height: 143px;
    width: 143px;
    margin-top: 3px;
    overflow: hidden;
    cursor: pointer;
}
.imgWrap{
    position: relative;
    height: 143px;
    width: 143px;
}
.imgWrapClicked{
    position: relative;
    height: 125px;
    width: 125px;
}
.picTitle{ 
    position: relative;
    width: 100px; 
    bottom: 21px;
    padding-left: 8px;
    color: white;
    overflow: hidden;
    height: 18px;
}
.picCheck{ 
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 40px; 
    text-align: end;
    color: white;
    left: 102px;
    width: fit-content;
}
.arrowSVG{
    height: 34px;
    width: 34px;
}

@media only screen and (max-width: 485px),
            screen and (max-height: 764px) {
    .introBox{
        width: 345px;
        height: 117px;
        padding: 7px 8px;
        margin-bottom: 4px;
    }
    .introLeftBox{ width: 249px; }
    .introPicCon{ width: 76px; height: 103px;}
    .picsCon{ width: 345px; }
    .picBox{
        height: 113px;
        width: 113px;
    }
    .imgWrap{
        height: 113px;
        width: 113px;
    }
    .imgWrapClicked{
        height: 97px; 
        width: 97px;
    }
    .titleCheckWrap{
        width: 100%;
    }
    .picTitle{ 
        width: 71px; 
        font-size: 13px; 
        padding-left: 4px; 
        bottom: 19px;
        height: 15px;
    }
    .picCheck{
        bottom: 43px; 
        left: 68px;
    }
    .arrowSVG{
        height: 39px;
        width: 39px;

    }
}
@media only screen and (max-width: 380px),
            screen and (max-height: 652px) {
    .introBox{
        width: 276px;
        height: 92px;
        padding: 5px 5px;
        margin-bottom: 4px;
    }
    .introLeftBox{ width: 199.2px; }
    .introPicCon{ width: 60.8px; height: 82.4px;}
    .picsCon{ width: 276px; }
    .picBox{
        height: 90.4px;
        width: 90.4px;
        margin-top: 2.5px;
    }
    .imgWrap{
        height: 90.4px;
        width: 90.4px;
    }
    .imgWrapClicked{
        height: 77.6px;
        width: 77.6px;
    }
    .titleCheckWrap{
        width: 100%;
    }
    .picTitle{ 
        width: 56.8px; 
        font-size: 10.4px; 
        padding-left: 3.2px; 
        bottom: 13.6px;
        height: 12px;
    }
    .picCheck{
        bottom: 34px; 
        left: 54.4px;
    }
    .arrowSVG{
        height: 31.2px;
        width: 31.2px;
    }
}