.pergament{
    position: relative;
    left: 0;
    right: 0;
    height: 728px;
    transition: 0.3s ease-in-out;
    overflow: scroll;
    padding-top: 13px;
    z-index: 10;
    overflow-x: hidden;
}
.bracketCon{
    position: relative;
    height: 37px;
    width: 472px; 
    top: 8px;
    left: -12px;
}
.bracket{
    width: 472px;
    height: 70px;
}
.arrowBox{
    position: relative;
    height: 32px;
    width: 32px;
    padding-top: 2px;
    cursor: pointer;
}
.arrowBoxWrap{
    padding-left: 0;
}
.arrowBoxWrapOpen{
    padding-left: 38px;
}
.arrowBoxWrapGeneral{
    padding-left: 40px;
}
.contentBox{
    align-items: center;
    margin: auto;
    padding-left: 1px;
    width: 394px;
}
.contentBoxVar{
    position: absolute;
    z-index: 2;
    top: 42px;
    left: 24px;
    width: 406px;
}
.aboutDiv > p:last-child{
    margin-bottom: 0;
}
.title{
    width: 110px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
}

/* mobile */
@media only screen and (max-width: 485px),
            screen and (max-height: 764px) {
    .pergament{
        width: 100%;
        height: 599px;
    }
    .bracketConMargin{
        margin-bottom: 10px;
    }
    .bracketCon{
        height: 33px;
        width: 332px;
    }
    .bracketCon{
        height: 30px;
        width: 367px; 
        top: 3px;
        left: -5px;
    }
    .arrowBox{
        height: 40px;
        width: 40px;
    }
    .contentBox{
        width: 310px;
    }
    .contentBoxVar{
        top: 31px;
        left: 21px;
        width: 321px;
    }
    .arrowBoxWrapOpen{
        padding-left: 35px;
    }
    .arrowBoxWrapGeneral{
        padding-left: 37px;
    }
    .desIsGeneral{
        margin-top: 5px !important;
    }
}

@media only screen and (max-width: 400px),
            screen and (max-height: 652px) {
    .pergament{
        width: 100%;
        height: 479.2px;
    }
    .bracketConMargin{
        margin-bottom: 8px;
    }
    .bracketCon{
        height: 26.4px;
        width: 260px;
    }
    .bracketCon{
        height: 24px;
        width: 294px; 
        top: 2.4px;
        left: -4px;
    }
    .arrowBox{
        height: 32px;
        width: 32px;
    }
    .title{
        width: 90px;
    }
    .contentBox{
        width: 248px;
    }
    .contentBoxVar{
        top: 28px;
        left: 16.8px;
        width: 256.8px;
    }
    .arrowBoxWrapOpen{
        padding-left: 28px;
    }
    .arrowBoxWrapGeneral{
        padding-left: 29.6px;
    }
    .desIsGeneral{
        padding-top: 4px !important;
    }
}
