// .nextClick{
//     height: 100%;
//     width: 100%;
//     z-index: 100;
//     background-color: yellowgreen;
// }

.con{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 9px;
    height: 861px;
  }
.rightCon{
    width: 600px;
    height: 861px;
    display: block;
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    // background: chocolate;
}
.leftCon{
    width: 198px;
    padding-right: 9px;
    display: block;
    // background: cornsilk;
}
.smallImgCon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    // background: chartreuse;
    align-content: flex-start;
    overflow: scroll;
    // height: 395px;//half: 439px;
    // border-bottom: 1px solid rgb(160,160,160);
}
.smallImgBox{
    border: 1px solid black;
    margin-bottom: 9px;
    padding: 2px;
    padding-bottom: 0;
    background: white;
    overflow: hidden;
    cursor: pointer;
}
.bigImgWrap{
    width: 600px;
    height: 861px;
    position: relative;
    overflow: hidden;
}
.smallImgWrap{
    position: relative;
    overflow: hidden;
    height: 84px;
    width: 84px;
}

.num{
    margin-top: 2px;
    position: relative;
    bottom: 0;
    background: white;
}
.contentCon{
    position: absolute;
    bottom: 0;
    width: 189px;
}
.buttonBox{
    width: fit-content;
    margin-left: -3px;
    margin-bottom: 3px;
    justify-content: space-between;
}
.arrowWrap{
    height: 31.5px; 
    width: 31.5px;
    cursor: pointer;
}
// .arrowLeftSVG{

// }
.title{
    font-weight: 700;
    margin-bottom: 20px;
}
// .content{

// }

@media only screen and (max-width: 860px) {
    .con{height: 710px; padding: 0 8px;}
    .rightCon{
      width: 437px;
      height: 683px;
      display: flex;
    }
    .leftCon{
      display: none;
    }
    .bigImgWrap{
      width: 437px;
      height: 683px;
    }
  }
  
// mobile
@media only screen and (max-width: 485px) {
    .con{ height: 556px; }
    .rightCon{ height: 556px; width: 342.5px; }
    .bigImgWrap{
        width: 342.5px;
        height: 556px;
        // border-bottom: 1px solid green;
      }
}