.projectDesCon{
    position: absolute;
    top: 0;
    z-index: -2;
    height: 728px;
    overflow: scroll;
}
.projectDesConNoInfo{
    z-index: 2;
}
.smallTitleBox{
    background: white;
    position: absolute;
    top: 10px;
    left: 9px;
    right: 9px;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    opacity: 0;
}
.smallTitleBoxProject{
    top: 7px;
}
.smallScreenTitle{
    font-weight: 700;
}
.des{
    position: absolute; 
    top: 3px;
    left: 9px; 
    right: 9px;
    bottom: 9px;
    padding-top: 15px;
    overflow: scroll;
}

@media only screen and (max-width: 860px),
            screen and (max-height: 937px) {
    .smallTitleBoxProject{
        opacity: 1;
    }
    .projectDesCon{
        width: 453px;
    }
}

 /* mobile */
@media only screen and (max-width: 485px),
            screen and (max-height: 786px) {
    .smallTitleBoxProject{
        opacity: 1;
    }
    .projectDesCon{
        width: 359px;
        height: 599px;
        margin-left: 0px;
    }
    .rightCon{ height: 557px; }
}
@media only screen and (max-width: 400px),
            screen and (max-height: 652px) {
    .projectDesCon{
        width: 287.2px;
        height: 479.2px;
        margin-left: 0px;
    }
    .rightCon{ height: 445.6px; }
}