.con{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 9px;
    height: 861px;
  }
.rightCon{
    width: 600px;
    height: 861px;
    display: block;
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    z-index: 0;
}
.leftCon{
    width: 198px;
    padding-right: 9px;
    display: block;
}
.smallImgCon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
    overflow: scroll;
}
.smallImgBox{
    border: 1px solid black;
    margin-bottom: 9px;
    padding: 2px;
    padding-bottom: 0;
    background: white;
    overflow: hidden;
    cursor: pointer;
}
.bigImgWrap{
    width: 600px;
    height: 861px;
    position: relative;
    overflow: hidden;
}
.smallImgWrap{
    position: relative;
    overflow: hidden;
    height: 84px;
    width: 84px;
}

.num{
    margin-top: 2px;
    position: relative;
    bottom: 0;
    background: white;
}
.contentCon{
    position: absolute;
    bottom: 0;
    width: 189px;
}
.buttonBox{
    width: fit-content;
    margin-left: -3px;
    margin-bottom: 3px;
    justify-content: space-between;
}
.arrowWrap{
    height: 31.5px; 
    width: 31.5px;
    cursor: pointer;
}
.title{
    font-weight: 700;
    margin-bottom: 20px;
}

@media only screen and (max-width: 860px),
            screen and (max-height: 950px) { 
    .con{height: 710px; padding: 0 8px;}
    .rightCon{
      width: 437px;
      height: 683px;
      display: flex;
    }
    .leftCon{
      display: none;
    }
    .bigImgWrap{
      width: 437px;
      height: 683px;
    }
  }
  
 /* mobile */
@media only screen and (max-width: 485px),
            screen and (max-height: 850px) {
    .con{ height: 556px; padding: 0 7px; }
    .rightCon{ height: 556px; width: 344.5px; display: flex; }
    .leftCon{
        display: none;
      }
    .bigImgWrap{
        width: 344.5px;
        height: 556px;
      }
}
@media only screen and (max-width: 400px) {
    .con{ height: 444.8px; padding: 0 5.6px; }
    .rightCon{ height: 444.8px; width: 275.6px; }
    .bigImgWrap{
        width: 275.6px;
        height: 444.8px;
      }
}